* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
    color:#ddd;
    background-color: #222831;
}

.main {
    display: flex;
    justify-content: center;
}

.main_window {
    height: 450px;
    width: 650px;
    border: 2px solid rgba(0, 0, 0, 0.533);
    border-radius: 10px;
    margin: 100px;
    padding: 50px;
    text-align: center;
    border:2px solid aliceblue;
}

.input_tuple {
    display: flex;
    justify-content: center;
    margin-right: 100px;
} 

.file {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file input {
    height: 1px;
    width: 1px;
}

.file button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid aliceblue;
    font-weight: bold;
}

.input input{
    margin: 10px;
    padding: 5px;
    width: 250px;
}

.header_table {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-right: 100px;
    font-size: 20px;
}

.tuple {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px;
}

.tuple_block {
    display: flex;
    gap: 5px;
    filter: grayscale(100%);
}

.button button{
    padding: 5px;
    width: 264px;
    background-color: #393e46;
    border-radius: 5px;
    color:aliceblue;
    font-weight: bold;
    border: 2px solid aliceblue;
    cursor: pointer;

}

.button button:hover,
#saveButton:hover,
.file button:hover {
    padding: 5px 10px;
    cursor: pointer;
    background: #575e6b;
}

.result {
    display: flex;
    justify-content: center;

}

.result p  {
    border-bottom: 2px solid aliceblue;
    padding: 5px;
}

.output{
    font-size: 24px;
}




